<div class="header">
    <div class="text-box"></div>
    <h1>Message</h1>
    
</div>


<div class="nav">
    <input type="search" [(ngModel)]="term"  placeholder="search contact">
</div>

<div class="contant" *ngFor="let a of phone.results  | filter: term">
    <div class="image">
        <img src="{{a.picture.large}}" alt="" height="100px" width="100px">
        <div class="user">
            <h3>{{a.name.first}} {{a.name.last}}</h3>
            <p>{{a.cell}}</p>

        </div>
    </div>
</div>

<div *ngIf="phone.results.length === 0 && term.length > 0" class="not-found">
    No users found.
</div>