.image{
    height: 20;
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: white;
    border: 1px solid gray;
    /* border-radius: 20; */

}
.user{
    margin-left: 10px;
}
.header{
    height: 15%;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: left;
    justify-content: left;
}
.nav {
    height: 10%;
    width: 100%;
    background-color: rgb(108, 163, 108);
}
input{
    border-radius: 20px;
    width: 98%;
    height: 55px;
    margin-left: 10px;
    margin-top: 10px;
}
img{
    border-radius: 60%;
    margin-right: 20px;
    margin-left: 40px;
}

h4{
    text-align: center;
}

.text-box {
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 150px;
    border-radius: 50px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
 h1{
margin-left: 30px;

 }