<input type="text" [(ngModel)]="term" (keypress)="getfilteraccount()">

<label >column</label>
<select [(ngModel)]="column">
    <option >account_number</option>
</select>


<label >Order:</label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="getsortedaccount()">Sort</button>


<label>limit : </label>
<select [(ngModel)]="limit">
    <option>4</option>
    <option>6</option>
</select>

<label>page : </label>
<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option></option>
</select>

<button (click)=" getpageaccount()">proceed</button>

<table class="table table-white table-bordered"> 
    <thead>
        <tr>
            <th>Account name</th>
            <th>Available balance</th>
            <th>Account number</th>
            <th>City</th>
            <th>Profie picture</th>
            <th>Id</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.city}}</td>
            <td>
                <img src="{{account.profie_picture}}" alt="" width="100px" height="100px">
            </td>
            <td>{{account.id}}</td>
            <td><button (click)="getdeleteaccount(account.id)" class="btn btn-danger">delete</button></td>
        </tr>
    </tbody>
</table>